nav {
    font-family: var(--font-family-secondary);
}

nav ul {
    display: grid;
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius-sm);
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

nav ul li {
    display: flex;
    height: var(--nav-item-height);
    width: 100%;
}

nav ul li a {
    display: inherit;
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
}

nav ul li a.active {
    font-weight: bold;
}

nav ul::before {
    border: 2px solid;
    border-radius: var(--border-radius-sm);
    content: "";
    width: var(--nav-item-width);
    height: var(--nav-item-height);
    position: absolute;
    top: -2px;
    left: -2px;
    transition: transform 1s;
}

nav ul.to-complete::before {
    transform: translateX(158px);
}

nav ul.completed::before {
    transform: translateX(318px);
}