<nav>
    <ul [class]="activeRoute()">
        <li>
            <a 
                routerLink="/" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{ exact: true }"
            >
                All
            </a>
        </li>
        <li>
            <a 
                routerLink="/to-complete" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                To complete
            </a>
        </li>
        <li>
            <a 
                routerLink="/completed"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                Completed
            </a>
        </li>
    </ul>
</nav>