/* You can add global styles to this file, and also import other style files */

:root {
    --text-color: #402961;
    --border-color: #f2f1f4;
    --border-radius-sm: 4px;
    --font-family-primary: "Noto Serif", serif;
    --font-family-secondary: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-color);
    font-family: var(--font-family-primary);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}